**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit

**Exercise 6 - Create a markdown cell with a table of Data Science tools**


| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python.

**Exercise 8 - Create a code cell to multiply and add numbers**

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [5]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**

- List popular languages for Data Science.
- Discuss commonly used data science libraries.
- Explain basic arithmetic expressions in Python.
- Describe how to convert minutes to hours in Python.
- Outline the process of creating tables and lists in Markdown.

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author

Hayk Pashinyan